body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1200px;
  min-height: 100vh;
  padding: 30px 50px;
  margin: 0 auto;
}
.dark-mode {
  background-color: rgb(21, 21, 38);
  color: #ddd;
}
.MuiModal-root {
  overflow-y: scroll;
  & .MuiBox-root {
    overflow-y: visible;
    background-color: #fff;
    width: 700px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    & button {
      margin-bottom: 30px;
    }
  }
}
.budget-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  & .budget-card {
    border: 1px solid #ddd;
    & button {
      padding: 10px;
      font-size: 15px;
    }
    & button:nth-child(3) {
      color: #de2c1f !important;
    }
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
.form-div {
  padding: 20px;
  & h2 {
    text-align: center;
    color: #1b182b;
  }
}
form {
  display: flex;
  flex-direction: column;
  & input,
  select {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 7px;
  }
  & label {
    font-size: 20px;
    color: #1b182b;
  }
}
button {
  background-color: transparent;
  border: none;
}
.add-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin: 40px 0;
  & button {
    background-color: #3c3566;
    color: #ddd;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
  }
}
svg {
  width: 40px;
}
.title {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
}
.view-expenses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  & span {
    font-weight: 100;
  }
}
